$pure-white: #ffffff;
$light-violet: #a775f1;
$violet: #7541c8;
$light-grayish-blue: #ecf2f8;
$dark-grayish-blue: #48556a;
$dark-blackish-blue: #19212e;
$light-gray: #cfcfcf;
$gray: #b2b9c4;
$dark-gray: #19202d;
$black: #000;
